.form-control {
    display: block;
    width: 100%;
    padding: 0.55rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #66799e;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0.0625rem solid #d1d7e0;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 2px rgb(46 54 80 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    box-shadow: none;
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(46, 54, 80, 0);
}

*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

div {
    display: block;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 2rem);
    padding-left: var(--bs-gutter-x, 2rem);
    margin-right: auto;
    margin-left: auto;
}
.border {
    border: 0.0625rem solid #eaedf2 !important;
}

main {
    overflow: hidden;
    /*background-color: #F0F3F6;*/
    background-size: cover !important;
    height: 600px !important;
}
